$color-present: #4caf50;
$color-virtual: #2196f3;
$color-absent: #f44336;
$color-late: #e3a513;
$color-late-text: #000;
$color-border: #e0e0e0;
$color-background: #fff;
$footer-background:#E8EEFE;
$color-text: #000;
$color-text-footer: #3d608b;